* {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

html {
	background: url("../images/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	height: 100%;
	height: 100vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	height: 100%;
	height: 100vh;
	width: 100%;
	padding: 0px;
	margin: 0px;

	background: transparent;

	font-family: "Lato",sans-serif;
}

a {
	text-decoration: none;
}

/*
div[app-name] {
	height: 100%;
	overflow: auto;
}*/

.navigation {
	position: fixed;
	height: 60px;
	width: 100%;
	line-height: 60px;

	background-color: black;
	opacity: 0.9;
	color: white;
	font-family: "herculanum";

	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	z-index: 100;
}

.navigation a {
	display: block;
	float: left;

	height: 60px;
	line-height: 60px;
	width: 60px;

	color: white;

	text-align: center;

	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation a:hover {
	background-color: #080808;
	cursor: pointer;
}

.navigation div {
	display: block;
	float: right;

	margin-right: 20px;
	font-size: 12px;

	color: #eee;
}

.navigation-dropdown {
	position: fixed;
	top: 60px;
	width: 100%;
	overflow: hidden;

	max-height: 0;
	transition: max-height 250ms ease-out;

	z-index: 10;
}

.navigation-dropdown-active {
	max-height: 500px;
	transition; max-height 300ms ease-in;
}

.navigation-dropdown a {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: black;
	opacity: 0.9;
	color: #ddd;

	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	text-decoration: none;
}

.navigation-dropdown a:hover {
	background-color: #080808;
}

.navigation-dropdown a i {
	float: right;
	line-height: 60px;
	font-size: 16px;
}

div[view-name] {
	padding-top: 80px;
}

.welcome-view {
	padding-top: 0px !important;
}

.main-view {
	padding-top: 0px !important;
}

.main-view div[view-name] {
	padding-left: 10px;
	padding-right: 20px;
}

/************************************************/

.button-spacer {
	float: left;
	height: 40px;
	width: 1px;
	margin-left: 10px;
	margin-right: 10px;
	border-right: 1px solid #222;
}

.button-half {
	float: left;
	min-width: 50%;
	max-width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ccc;
	/*border: 1px solid #ccc;*/
}

.button-half:nth-child(2) {
	float: right;
	border-left: 1px solid #222;
}

.button-half:hover {
	border-color: #fff;
	color: #fff;
	cursor: pointer;
	background-color: #090909;
}

.float-image {
	float: right;
	margin: 15px;
	max-width: 180px;
}

.float-image img {
	margin-left: 10px;
}

.float-image span {
	display: block;
	float: left;
	color: #ddd;
	margin-left: 30px;
	font-size: 11px;
	margin-top: 10px;
}

.mythic-text {
	font-family: 'herculanum';
	letter-spacing: 2px;
}

.top-margin {
	margin-top: 20px;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.header-logo {
	position: relative;
	top: 0px;
	height: 15px;
	display: inline-block;
}

.spacer-tile {
	width: 320px;
	height: 80px;
}

.text-tile {
	margin: 5px;
	width: 320px;
	height: auto;
	min-height: 100px;
	padding: 20px;
	background-color: black;
	border: 1px solid #151515;
}

.text-tile div {
	position: relative;
	border-left: 3px solid white;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	padding-right: 10px;
}

.text-tile div h1 {
	font-size: 1.4em;
	color: white;
	display: block;
	width: 100%;
	height: 30px;
	font-weight: normal;
	margin: 0;
}

.text-tile div p {
	font-style: italic;
	font-size: 0.9em;
	color: #888;
	margin-bottom: 10px;
}

.text-tile div i {
	display: block;
	height: 30px;
	width: 30px;
	border: 1px solid #ddd;
	border-radius: 50%;
	text-align: center;
	line-height: 29px;
	font-size: 1.3em;
	font-weight: 100;
	color: #ddd;
	position: absolute;
	bottom: 0px;
	padding-left: 3px;
	/*left: 240px;*/
	
}

.media-tile {
	margin: 5px;
	width: 320px;
	height: auto;
	min-height: 80px;
	padding: 20px;
	background-color: black;
	border: 1px solid #181818;
	position: relative;
}

.media-tile-small {
	width: 160px;
}

.media-tile-small div {
	overflow: visible;
	font-size: 0.85em !important;
}

.media-tile img {
	width: 100%;
	height: auto;
	float: left;
}

.media-tile div {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 10px;
	border-top: 1px solid #333;
	padding-top: 5px;
	color: #c1c1c1;
	overflow: visible;
}

.media-tile div:nth-child(1) {
	width: 100% !important;
}

.media-tile div span {
	font-style: italic;
	font-size: 0.8em;
	color: #666;

}

.media-tile video {
	width: 100% !important;
	height: auto;
}

.content {
	margin-top: 10px;
	border: 1px solid #181818;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	height: auto;
	width: 93%;
	background-color: black;
}

.content h1 {
	font-size: 1.3em;
	color: white;
	display: block;
	width: 100%;
	min-height: 30px;
	height: auto;
	font-weight: 200;
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #333;
}

.content p {
	line-height: normal;
	margin-bottom: 10px;
	color: #888;
}

.content img {
	max-width: 300px;
	width: 100%;
}

.scroll-spacer {
	width: 100%;
	height: 80px;
}

.bottom-controls {
	position: absolute;
	width: calc(100% + 60px);
	top: calc(100vh - 104px);
	/*
	position: fixed;
	width: calc(100% + 60px);
	bottom: 0;
*/
	border-top: 1px solid #222;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 11;

	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.bottom-controls span {
	height: 30px;
	line-height: 40px;
	color: #e2e2e2;
	padding-left: 10px;
	font-style: italic;
}

.bottom-controls i {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #666;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	font-size: 1.1em;
	font-weight: 100;
	color: #c1c1c1;
}

.bottom-controls a {
	position: absolute;
	top: 10px;
	right: 80px;
	display: inline;
	color: #5B75CF;
}

.bottom-controls a:hover {
	color: #e2e2e2;
}

.js-masonry {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	min-width: 340px;
	width: 92%;
}

.welcome-view {
	position: relative;
	width: 100%;
	height: 100%;
	height: 100vh;

	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
}

.welcome-text {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	height: 300px;
	width: 50%;
	min-width: 240px;

}

.welcome-view h1 {
	margin: 0;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #7A7065;
	text-align: center;
	border-bottom: 1px solid #7A7065;
	font-family: 'herculanum';
}

.welcome-view p {
	color: #9F978F;
	margin-top: 10px;
	font-weight: 100;
	line-height: 15px;
	font-size: 0.8em;
	text-align: center;
	font-family: 'herculanum';
}

.welcome-view span {
	display: inline-block;
	min-width: 120px;
	padding: 10px;
	height: 50px;
	line-height: 28px;
	color: #9F978F;
	border: 1px solid #7A7065;
	border-radius: 3px;
	font-size: 1.2em;
}

.welcome-view span:hover {
	color: white;
	border-color: white;
	cursor: pointer;
}