@media all and (min-width: 700px) {
	.content {
		max-width: 500px;
		float: left;
		margin-left: 20px;
	}

	.slider-container {
		max-width: 450px;
		float: left;
		margin-left: 20px;
	}
}

@media all and (max-width: 700px) {

	.tile {
		width: 100%;
	}
}